.row-content{
  padding: 50px 0px 50px 0px;
  border-bottom: 2px ridge;
}

.jumbotron{
  background: rgb(221, 142, 69);

}

.navbar-inverse{
  background: rgb(185, 59, 5);
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  background: rgb(221, 142, 69);
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus{
  background: rgb(221, 142, 69);
}
